{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Main info section-->

<!--Title -->
  <div class="py-1">
    <div class=" py-lg-1">
      <div class="col-lg-6 col-md-8 ml-5">
         <h2 class="featurette-heading">Our Projects:</h2>
          <p class="lead">These are all of our current projects. Members are able to join any project they want. If you are interested in starting your own project, contact ..</p>
      </div>
    </div>
  </div>
<!--Title end-->

<!-- Projects List -->

  <div class="py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          <!--Project -->
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="{% static 'images/project_telescope.jpg' %}" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="true"><rect width="100%" height="100%" fill="#55595c"/></img>
              <div class="card-body">
              <p class="card-text">With Prof. Buckley, we connected a telescope stand to a computer. This stand is able to point to a planet with the computer's input.</p>
                <a href="#" class="btn btn-secondary my-2">More info</a>
            </div>
          </div>
        </div>
          <!--Project -->
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="{% static 'images/project_conf.jpg' %}" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="true"><rect width="100%" height="100%" fill="#55595c"/></img>
            <div class="card-body">
              <p class="card-text">We like to go to conferences, like CPOSC, as a club. This allows out members to learn and get inspired.</p>
                <a href="#" class="btn btn-secondary my-2">More info</a>
            </div>
          </div>
        </div>

          <!--Project -->
       <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="{% static 'images/project_windmill.jpg' %}" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="true"><rect width="100%" height="100%" fill="#55595c"/></img>
              <div class="card-body">
              <p class="card-text">We plan to make a small wind turbine that could also display information on the weather conditions.</p>
                <a href="#" class="btn btn-secondary my-2">More info</a>
            </div>
          </div>
        </div>

           <!--Project -->
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="{% static 'images/project_gamedev.jpg' %}" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="true"><rect width="100%" height="100%" fill="#55595c"/></img>
              <div class="card-body">
              <p class="card-text">Members enjoy taking their skills and practicing them by making small games.</p>
                <a href="#" class="btn btn-secondary my-2">More info</a>
            </div>
          </div>
        </div>

        <!-- end Projects -->
      </div>
    </div>
  </div>
<!-- End Projects List -->
{% endblock %}